{% block _brand_list_widget %}
<li class="main-menu__item main-menu__item--ancestor main-menu__item--floated-dropdown">
    <a href="http://orocommerce.local/index_dev.php/products/by-brand"
       role="menuitem"
       id="menu-link-by-brand"
       class="main-menu__link"
       aria-haspopup="true"
       aria-expanded="false"
       tabindex="0">
        <span class="main-menu__text">By Brand</span>
        <span class="main-menu__taptick" aria-hidden="true">
            <span class="fa-angle-down fa--no-offset"></span>
        </span>
    </a>
    <button class="main-menu__button-arrow" data-toggle="dropdown" data-popper="false" data-go-to="next"
            id="button-by-brand" aria-haspopup="true" aria-expanded="false" aria-label="By Brand">
        <span class="fa-angle-down fa--no-offset" aria-hidden="true"></span>
    </button>
    <div class="main-menu__sublist-container" data-header-row-toggle="" data-scroll="true"
         aria-labelledby="menu-link-by-brand button-by-brand" role="menu" data-role="sub-menu"
         aria-hidden="true">
        <div class="main-menu-columns main-menu-columns--single">
            <div class="main-menu-column" data-role="sub-menu">
                <ul class="main-menu-column__inner">
                    {% for brand in brands %}
                        <li class="main-menu-column__item">
                            <a role="menuitem" class="main-menu-column__link" href="{{ brand.baseSlug }}">
                                {{ brand.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</li>
{% endblock %}