{% block __oro_product_list_item__product_brand_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' product-item__number product-item__number--{{ class_prefix }}'
    }) %}
    <div {{ block('block_attributes') }}>
        {{- 'oro.product.brand.label'|trans }} <span class="product-item__sku-value" itemprop="brand">{{- product.brand -}}</span>
    </div>
{% endblock %}
