{% import 'OroUIBundle::macros.html.twig' as UI %}

{% if entity and inventoryLevels|length %}
    {% set titles = [
        'oro.product.sku.label'|trans,
        'oro.product.names.label'|trans,
        'oro.product.inventory_status.label'|trans,
        'oro.inventory.inventorylevel.quantity.label'|trans,
        'oro.product.productunitprecision.unit.label'|trans,
        'oro.inventory.inventorylevel.warehouse.label'|trans,
    ] %}
    {% set rows = [] %}
    {% for inventoryLevel in inventoryLevels %}
        {% set row = [
            entity.sku,
            entity.denormalizedDefaultName,
            entity.inventoryStatus,
            inventoryLevel.quantity|oro_format_decimal,
            ('oro.product_unit.'~ inventoryLevel.productUnitPrecision.unit.code ~'.label.full')|trans,
            inventoryLevel.warehouse
        ] %}
        {% set rows = rows|merge([row]) %}
    {% endfor %}

    {{ UI.renderTable(titles,rows,"grid table unit-table") }}
{% endif %}