{% block _order_guide_items_list_widget %}
    {% import 'OroUIBundle::macros.html.twig' as UI %}
    {% import 'OroProductBundle::image_macros.html.twig' as Image %}

    {% if orderGuideItems|length > 0 %}
        <table class="grid table table-bordered">
            <thead class="grid-header">
            <tr class="grid-header-row">
                <td class="grid-cell grid-header-cell grid-header-cell-label">Item</td>
                <td class="grid-cell grid-header-cell grid-header-cell-label">Name</td>
                <td class="grid-cell grid-header-cell grid-header-cell-label">Unit</td>
                <td class="grid-cell grid-header-cell grid-header-cell-label">Qty</td>
                <td class="grid-cell grid-header-cell grid-header-cell-label action-column">Actions</td>
            </tr>
            </thead>
            <tbody class="grid-body">
            {% for item in orderGuideItems %}
                {% set productSku = item.product.sku|default(null) %}
                {% set productName = item.product.denormalizedDefaultName %}
                {% set productImageData = item.product.imagesByType('listing').first.image|default(null) %}
                {% if productImageData is null %}
                    {% set productImageData = item.product.imagesByType('additional').first.image|default(null) %}
                {% endif %}
                {% set productImage = Image.image(productImageData, 'product_small') %}
                {% set productImageUrl = Image.url(productImageData, 'product_small') %}
                {% set modelAttr = item.product.jsonSerialize() %}
                {% set modelAttr = modelAttr|merge({'imageUrl': productImageUrl}) %}

                {% do block|merge_context({product: item.product,}) %}

                {% set attr = layout_attr_defaults(attr, {
                    'data-page-component-module': 'oroui/js/app/components/view-component',
                    '~data-page-component-options': {
                        view: 'oroproduct/js/app/views/base-product-view',
                        modelAttr: modelAttr
                    },
                    'data-layout': 'separate',
                }) %}
                 <tr class="grid-row" {{ block('block_attributes') }} >
                    <td class="grid-cell grid-body-cell">{{ productImage }}</td>
                    <td class="grid-cell grid-body-cell">{{ productName }}</td>
                    <td class="grid-cell grid-body-cell">{{ item.unit.code }}</td>
                    <td class="grid-cell grid-body-cell" data-role="product_qty">{{ item.quantity }}</td>
                    <td class="grid-cell grid-body-cell" data-role="product_unit">{{ block('container_widget') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div>
            {{ 'oro.frontend.shoppinglist.view.not_products_available'|trans }}
        </div>
    {% endif %}
{% endblock %}

{% block _add_all_items_button_widget %}
    {% set routePrefix = 'xngage_order_guide_ajax_' %}
    <button class="btn btn-primary mt-1 w-100 add-to-guide"
            data-url="{{ routePrefix ~ 'add_all_to_shopping_list' }}"
            data-page-component-module="xngageorderguide/default/js/app/components/add-all-to-shopping-list-component">
        <i class="fa-bookmark-o"></i> {{ 'xngage.orderguide.actions.add_all_to_shopping_list'|trans }}
    </button>
{% endblock %}