/* @theme: blank; */

/* Style for button without theme modificator */
$btn-theme: (
    'background': darken(get-color('additional', 'middle'), 44%),
    'border': darken(get-color('additional', 'middle'), 44%),
    'hover-background': darken(get-color('additional', 'middle'), 50%),
    'hover-border': darken(get-color('additional', 'middle'), 50%),
    'active-background': darken(get-color('additional', 'middle'), 50%),
    'active-border': darken(get-color('additional', 'middle'), 50%),
    'active-box-shadow': $active-box-shadow,
    'focus-border': darken(get-color('additional', 'middle'), 50%)
);

$btn-theme-action: (
    'background': get-color('additional', 'darker'),
    'border': get-color('additional', 'darker'),
    'hover-background': lighten(get-color('additional', 'darker'), 15%),
    'hover-border': lighten(get-color('additional', 'darker'), 15%),
    'active-background': lighten(get-color('additional', 'darker'), 15%),
    'active-border': lighten(get-color('additional', 'darker'), 15%),
    'focus-border': lighten(get-color('additional', 'darker'), 15%)
) !default;

$btn-theme-default: (
    'background': get-color('additional', 'ultra'),
    'border': get-color('additional', 'light'),
    'hover-background': darken(get-color('additional', 'ultra'), 3%),
    'hover-border': darken(get-color('additional', 'light'), 3%),
    'active-background': darken(get-color('additional', 'ultra'), 3%),
    'active-border': darken(get-color('additional', 'light'), 3%),
    'focus-border': darken(get-color('additional', 'light'), 5%)
) !default;

$btn-theme-info: (
    'background': get-color('primary', 'base'),
    'border': get-color('primary', 'base'),
    'hover-background': lighten(get-color('primary', 'base'), 5%),
    'hover-border': lighten(get-color('primary', 'base'), 5%),
    'active-background': lighten(get-color('primary', 'base'), 5%),
    'active-border': lighten(get-color('primary', 'base'), 5%),
    'focus-border': lighten(get-color('primary', 'base'), 5%),
    'divider-style': rgba(get-color('additional', 'ultra'), .3)
) !default;

$btn-theme-primary: (
    'background': get-color('additional', 'middle'),
    'border': get-color('additional', 'middle'),
    'color': get-color('additional', 'ultra'),
    'hover-background': lighten(get-color('additional', 'middle'), 5%),
    'hover-border': lighten(get-color('additional', 'middle'), 5%),
    'hover-color': get-color('additional', 'ultra'),
    'active-background': lighten(get-color('additional', 'middle'), 5%),
    'active-border': lighten(get-color('additional', 'middle'), 5%),
    'active-color': get-color('additional', 'ultra'),
    'focus-border': lighten(get-color('additional', 'middle'), 5%)
) !default;

$btn-theme-keys: () !default;
$btn-theme-keys: map-merge(
    (
        'action': $btn-theme-action,
        'default': $btn-theme-default,
        'info': $btn-theme-info,
        'primary': $btn-theme-primary
    ),
    $btn-theme-keys
);


$btn-display: inline-block !default;
$btn-font-family: $base-font !default;
$btn-text-align: center !default;
$btn-white-space: nowrap !default;
$btn-vertical-align: middle !default;
$btn-user-select: none !default;
$btn-border: $btn-border-width solid transparent !default;
$btn-text-decoration: none !default;
$btn-disabled-box-shadow: none !default;
$btn-cursor: pointer !default;

// Share hover and focus styles
$btn-hover-focus-text-decoration: $btn-text-decoration !default;
$btn-hover-focus-outline: 0 !default;

// Link button
$btn-link-font-weight: $font-weight-normal !default;
$btn-link-color: $link-color !default;
$btn-link-background-color: transparent !default;
$btn-link-border-color: transparent !default;

$btn-link-hover-color: get-color('ui', 'focus');
$btn-link-hover-text-decoration: $link-hover-decoration !default;
$btn-link-hover-background-color: transparent !default;
$btn-link-hover-border-color: transparent !default;

$btn-link-focus-background: transparent !default;
$btn-link-focus-text-decoration: $link-hover-decoration !default;
$btn-link-focus-border-color: transparent !default;
$btn-focus-visible-style: $base-ui-bth-focus-style !default;

$btn-link-active-background: transparent !default;
$btn-link-active-color: $btn-link-hover-color !default;
$btn-link-active-border-color: transparent !default;

$btn-link-disabled-pointer-events: none !default;
$btn-link-disabled-background: transparent !default;
$btn-link-disabled-border-color: transparent !default;

// Plain button
$btn-plain-inner-offset: 0 3px !default;
$btn-plain-line-height: 1 !default;
$btn-plain-border-color: transparent !default;
$btn-plain-background-color: transparent !default;
$btn-plain-color: get-color('additional', 'middle') !default;
$btn-plain-cursor: pointer !default;

$btn-plain-hover-background-color: transparent !default;
$btn-plain-hover-border-color: transparent !default;
$btn-plain-hover-color: get-color('additional', 'light') !default;

$btn-plain-focus-background-color: transparent !default;
$btn-plain-focus-border-color: transparent !default;

$btn-plain-active-background-color: transparent !default;
$btn-plain-active-border-color: $btn-plain-focus-border-color !default;
$btn-plain-active-color: $btn-plain-hover-color !default;

$btn-large-min-width: 200px !default;

// Block button
$btn-block-display: block !default;
$btn-block-width: 100% !default;
$btn-block-offset-top: $btn-block-spacing-y !default;

// Disabled button
$disabled-button-opacity: .75 !default;
