{% block __oro_product_list_item__product_stock_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' product-item__number product-item__number--{{ class_prefix }}',
        'data-page-component-module': 'oroui/js/app/components/view-component',
        '~data-page-component-options': {
            view: 'xngageinventory/xngage_theme/js/app/views/list-item-product-quantities-view',
            modelAttr: {
                quantities: product.stock.qty,
                status: product.stock.status
            }
        },
    }) %}
    <div {{ block('block_attributes') }}>
        <span data-name="stock-status" class="hide product-inventory-status-{{ product.stock.status.id }}"></span>
        <span data-name="stock-qty" class="hide">Qty: <span itemprop="qty"></span></span>
    </div>
{% endblock %}
