{% block _order_guide_button_widget %}
    {% import 'OroUIBundle::macros.html.twig' as UI %}

    {% set routePrefix = 'xngage_order_guide_' %}
    {% set options = {
        'product': product
    } %}

    <button class="btn btn-primary mt-1 w-100 add-to-guide"
            data-url="{{ path(routePrefix ~ 'ajax_add_product', {'productId': product.id} ) }}"
            data-page-component-module="xngageproduct/default/js/app/components/add-to-order-guide-component"
            data-page-component-options="{{ options|json_encode }}" >
        <i class="fa-bookmark-o"></i> {{ 'xngage.orderguide.product.add_to_order_guide.label'|trans }}
    </button>

{% endblock %}
