{% block xngage_logo_widget %}
    {% import 'OroUIBundle::macros.html.twig' as UI %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' logo'
    }) %}

    {% set src = src|default(asset('bundles/orofrontend/blank/images/logo/demob2b-logo.svg')) %}
    {% set width = width|default(195) %}
    {% set height = height|default(45) %}

    {% set attr_img = attr_img|default({}) %}
    {% set attr_img = layout_attr_defaults(attr_img, {
        'src': src,
        '~class': ' logo-img',
        'alt': 'oro_frontend.logo.alt.label'|trans,
        'width': width,
        'height': height
    }) %}

    {% if renderLink and app.request.attributes.get('_route') != route %}
        <a href="{{ path(route) }}" {{ block('block_attributes') }} aria-label="{{ 'oro_frontend.logo.aria_label'|trans }}">
            <img {{ UI.attributes(attr_img) }}>
        </a>
    {% else %}
        <div {{ block('block_attributes') }}>
            <img {{ UI.attributes(attr_img) }}>
        </div>
    {% endif %}
{% endblock %}
